@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/MyriadPro-Semibold.eot');
    src: url('/fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), url('/fonts/MyriadPro-Semibold.woff') format('woff'), url('/fonts/MyriadPro-Semibold.ttf') format('truetype'), url('/fonts/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/MyriadPro-Regular.eot');
    src: url('/fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('/fonts/MyriadPro-Regular.woff') format('woff'), url('/fonts/MyriadPro-Regular.ttf') format('truetype'), url('/fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/MyriadPro-Bold.eot');
    src: url('/fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/MyriadPro-Bold.woff') format('woff'), url('/fonts/MyriadPro-Bold.ttf') format('truetype'), url('/fonts/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.ldm__header {
    background-color: #007193;
}

.ldm__content-wrapper {
    background-color: white;
    /*#0094C2;*/
    min-height: 477px;
    padding: 0px;
}

.ldm__content {
    max-width: 1200px;
    margin: 0 auto;
}

.ldm__h1 {
    letter-spacing: 2px;
    font-size: 24px;
    font-family: 'Myriad Pro';
    color: white;
    padding: 20px 0px;
    margin: 0px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.ldm__label {
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Myriad Pro';
    color: #4a4a4a;
    padding: 0px;
    margin: 0px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
    min-height: 45px;
    letter-spacing: 1.5px;
    font-weight: 400;
    width: 100%;
    @media (max-width: 357px) {
        margin-top: 0px;
    }
}

.ldm__label-long {
    line-height: 22px;
}

.ldm__h4.left {
    text-align: center;
        text-transform: none;
    @media (min-width: 992px) {
        text-align: left;
        padding-left: 23px;
    }
}

.ldm__h4 {
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Myriad Pro';
    color: #007193;
    padding: 0px;
    margin: 0px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.ldm__h4-halogenes {
    margin-top: 0px;
}

.ldm__input {
    font-size: 18px;
    font-family: 'Myriad Pro';
    height: 45px;
    background-color: white;
    font-weight: normal;
    border: 0px;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    color: #007BBF;
    letter-spacing: 1px;
    float: initial;
    width: 100%;
    border-radius: 0px;
    border: 1px solid lightgrey;
    @media (max-width: 357px) {
        margin-top: 0px;
    }
    @media (min-width: 320px) {
        min-width: 250px;
    }
    @media (min-width: 768px) {
        width: 285px;
        min-width: 285px;
        margin-bottom: 20px;
    }
    @media (min-width: 992px) {
        min-width: 180px;
        width: 180px;
        margin-top: 0px;
    }
    @media (min-width: 1200px) {
        min-width: 190px;
        width: 190px;
        margin-top: 0px;
    }
}

.ldm__input::-webkit-input-placeholder {
    color: #D2D2D2!important;
}

.ldm__input:-moz-placeholder {
    color: #D2D2D2!important;
}

.ldm__input::-moz-placeholder {
    color: #D2D2D2!important;
}

.ldm__input:-ms-input-placeholder {
    color: #D2D2D2!important;
}

.ldm__input::-ms-input-placeholder {
    color: #D2D2D2!important;
}

.ldm__row-first {
    margin-top: 0px!important;
}

.ldm__row {
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ldm__row-separator {
    margin-top: 30px;
}

.ldm__row-separator-2 {
    margin-top: 60px;
}

.ldm__checkbox {}

.ldm__checkbox-label {
    line-height: 24px;
    font-size: 13px;
    font-family: 'Myriad Pro';
    font-weight: 600;
    text-transform: uppercase;
    color: #007193;
}

.ldm__checkbox-group {
    max-width: 170px;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
    @media (max-width: 357px) {
        margin-top: 0px;
    }
}

.ldm__month-checkbox-group {
    max-width: 142px;
    margin: 0 auto;
    display: block;
}

.squaredFour {
    width: 24px;
    position: relative;
    margin: 0;
    display: inline-block;
}

.squaredFour label {
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    border: 0px;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.squaredFour label:after {
    content: '';
    width: 13px;
    height: 7px;
    position: absolute;
    top: 6px;
    left: 6px;
    border: 3px solid #0094C2;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.squaredFour label:hover::after {
    opacity: 0.5;
}

.squaredFour input[type=checkbox] {
    visibility: hidden;
}

.squaredFour input[type=checkbox]:checked+label:after {
    opacity: 1;
}

.ldm__col {
    padding: 0px!important;
}

.main-button-wrapper {
    @media (min-width: 1200px) {
        padding-left: 15px!important;
    }
}

.ldm__reset {
    background-color: #017193;
    font-size: 20px;
    font-family: 'Myriad Pro';
    font-weight: 600;
    color: white;
    line-height: 60px;
    width: 100%;
    min-width: initial;
    min-height: 60px;
    border: 0px;
    border-radius: 5px;
    display: block;
    margin: 0 auto 20px auto;
    letter-spacing: 2px;
}

.ldm__calculate {
    letter-spacing: 2px;
    background-color: #0BCF5A;
    font-size: 25px;
    font-family: 'Myriad Pro';
    color: white;
    line-height: 38px;
    min-height: 60px;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    max-width: 835px;
    margin: 0 auto 29px auto;
    display: block;
}

.ldm__contact {
    letter-spacing: 2px;
    background-color: #017193;
    font-size: 25px;
    font-family: 'Myriad Pro';
    color: white;
    line-height: 38px;
    min-height: 60px;
    border: 0px;
    border-radius: 5px;
    width: 100%;
    max-width: 835px;
    margin: 0 auto 29px auto;
    display: block;
}

.ldm__hidden {
    display: none!important;
}

.ldm__halogen-value {
    font-size: 14px;
    font-family: 'Myriad Pro';
    color: #d60400;
    padding: 0px;
    margin: 0px;
    line-height: 45px;
    text-align: center;
    margin-top: 0px;
    min-height: 45px;
    letter-spacing: 1.5px;
    font-weight: 400;
}

.ldm__led-value.bottom {
    color: #555;
}

.ldm__led-value {
    font-size: 24px;
    font-family: 'Myriad Pro';
    color: #03af48;
    padding: 0px;
    margin: 0px;
    line-height: 45px;
    text-align: center;
    margin-top: 0px;
    min-height: 45px;
    letter-spacing: 1.5px;
    font-weight: normal;
}

.ldm__halogen-value,
.ldm__led-value {
    width: 100%;
}

.ldm__step-2__title {}

.ldm__saving-box {
    /*max-width: 1164px;*/
    min-height: 135px;
    margin: 0 auto;
    background-color: #0BCF59;
    display: grid;
    padding-bottom: 50px;
}

.ldm__saving-box__title {
    letter-spacing: 2px;
    color: #035787;
    font-size: 18px;
    font-family: 'Myriad Pro';
    font-weight: normal;
    line-height: 135px;
    text-align: center;
    margin: 0px;
}

.ldm__saving-box__icon {
    margin: 0 auto;
    display: block;
}

.ldm__saving-box__value {
    color: white;
    font-size: 30px;
    font-family: 'Myriad Pro';
    font-weight: 400;
    line-height: 40px;
    text-align: center;
    margin: 0px;
}

.ldm__col-title {
    min-width: 235px!important;
}

.loading-icon-wrapper {
    position: absolute;
    z-index: 100;
    width: 100%;
    white-space: nowrap;
    text-align: center;
    background: rgba(255, 255, 255, .5);
}

.loading-icon-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.loading-icon {
    vertical-align: middle;
}

.ldm-modal{
    background:transparent;
}
.ldm-center{
    text-align:center;
}
.ldm-center-block{
    margin: 0 auto;
    display: block;
}


/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/


/*==========  Mobile First Method  ==========*/


/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {
    .ldm__content-wrapper {
        padding: 0 30px 50px 30px;
    }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
    .ldm__reset {
        width: initial;
        /*min-width: 285px;*/
        min-width: 100%;
    }
    .ldm__header {
        height: 77px;
    }
    .ldm__h1 {
        padding: 0px;
        line-height: 77px;
    }
    .ldm__calculate {
        line-height: 60px;
        min-width: 100%;
    }
    .ldm__contact {
        line-height: 60px;
    }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
    .ldm__label,
    .ldm__halogen-value,
    .ldm__led-value,
    .ldm__saving-box__value {
        min-width: 187px !important;
    }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    .ldm__reset {
        margin: 0 10px 20px 0;
    }
    .ldm__contact,
    .ldm__calculate {
        max-width: initial;
        margin: 0px;
    }
    .ldm__col-title {
        min-width: 235px!important;
    }
    .ldm__saving-box {
        padding-bottom: 15px;
        padding-top: 15px;
        display: block;
        margin: 0px;
    }
    .ldm__checkbox-group {
        max-width: 168px;
    }
    .ldm__h4 {
        line-height: 45px;
    }
    .ldm__h4-halogenes {
        margin-top: 84px;
        ;
    }
    .ldm__label {
        margin-bottom: 8px;
    }
    .ldm__checkbox-group {
        margin-top: 84px;
        margin-bottom: 0px;
        /*max-width: none;*/
    }
    .ldm__month-checkbox-group {
        max-width: initial;
        margin: 0px;
        margin-top: 19px;
        text-align: center;
    }
    .ldm__col {
        /*min-width: 184px!important;*/
    }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .ldm__label,
    .ldm__halogen-value,
    .ldm__led-value,
    .ldm__saving-box__value {
        min-width: 100%!important;
    }
    .ldm__col.col-md-2 {
        /*width: 19.666667%!important;*/
    }
}
