<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/store.js/1.3.20/store.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/fr.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

<script src="/dist/vendor/tingle.min.js"></script>

{{#if PROD}}
<script src="/dist/js/led-simulation.min.js"></script>
{{else}}
<!--DEVELOPMENT STAGE-->
<script type="text/javascript" src="/js/common/common-helpers.js"></script>
<script type="text/javascript" src="/js/config/app-bootstrap.js"></script>
<script type="text/javascript" src="/js/controllers/led-controller.js"></script>
<script type="text/javascript" src="/js/services/snippets-service.js"></script>
<script type="text/javascript" src="/js/run/common-run.js"></script>
{{/if}}



<script type="text/javascript">
  /*global angular*/
  angular.element(function() {
    var selector = "#led-simulation-app";
    angular.bootstrap(document.querySelector(selector), ['app']);
    //console.log('Angular Bootstrap', selector);
  });
</script>
